<form>
  <div class="info-card" id="contract-card">
    <div class="card-body">
      <div>
        <span id="wh-detail-contract-card-title"
          ><%= __('warehousedetail_contract_total')%></span
        >
        <span id="wh-detail-contract-card-price">670,000</span>
      </div>

      <div class="contract-card-element">
        <p><%= __('warehousedetail_contract_pick_date')%></p>
        <input
          id="info-card-start-date"
          type="date"
          class="input-contract-info"
          value="<%= selected_start_date%>"
        />
        <img id="info-card-arrow" src="/image/icon/arrow-right-solid.svg" />
        <input
          id="info-card-end-date"
          type="date"
          class="input-contract-info"
          value="<%= selected_end_date%>"
        />
      </div>

      <div class="contract-card-element">
        <div style="margin-left: 9%">
          <p>
            <%= __('warehousedetail_contract_max')%> <%= available_area%>
            <%=__('warehousedetail_contract_area_unit')%>
          </p>
          <span style="text-align: center">
            <input
              id="info-card-area-for-contract"
              type="number"
              placeholder="<%= __('warehousedetail_contract_pick_date')%>"
              class="input-contract-info"
              min="0"
              value="<%= selected_area%>"
            />
            <span
              style="
                font-size: 1.5rem;
                font-family: 'nanum-b';
                color: gray;
                float: inline-end;
              "
              ><%= __('warehousedetail_contract_area_unit')%></span
            >
          </span>
        </div>
      </div>

      <div class="contract-card-element" style="text-align: center">
        <button id="contract-submit" class="btn btn-main">
          <%= __('warehousedetail_check_contract')%>
        </button>
        <p class="submit-footer"><%= __('warehousedetail_contract_note')%></p>
      </div>
    </div>
  </div>
</form>
<script>
  $(document).ready(check_and_calc_total_cost);

  const input_start = document.getElementById('info-card-start-date');
  const input_end = document.getElementById('info-card-end-date');
  const input_area = document.getElementById('info-card-area-for-contract');
  const total_cost = document.getElementById('wh-detail-contract-card-price');
  input_start.addEventListener('change', check_and_calc_total_cost);
  input_end.addEventListener('change', check_and_calc_total_cost);
  input_area.addEventListener('change', check_and_calc_total_cost);
  function check_and_calc_total_cost() {
    if (
      input_start.value != '' &&
      input_end.value != '' &&
      input_area.value != ''
    ) {
      if (input_start.value > input_end.value) {
        input_end.value = input_start.value;
      }

      let total =
        toElapsedDay(new Date(input_end.value) - new Date(input_start.value)) *
        input_area.value *
        parseInt('<%= rent%>');
      total_cost.innerText =
        total.toLocaleString(total) +
        "<%= __('warehousedetail_contract_monetary_unit')%>";
    } else {
      total_cost.innerText = '^_^';
    }
  }
  const toElapsedDay = (elapsed_time) => {
    return elapsed_time / 1000 / 60 / 60 / 24 + 1;
  };
</script>
