<!DOCTYPE html>
<html lang="<%= __('locale') %>">
  <head>
    <link rel="stylesheet" href="/css/iot/nav.css" />
  </head>

  <body>
    <nav class="nav-bar">
      <div class="top">
        <img id="logo-img" src="/image/inven_logo_white.png" alt="logo" />
        <div class="items-wrapper">
          <div class="item-category"><%= __('iot_Nav_Main_Menu')%></div>
          <ul>
            <li class="item dashboard">
              <img
                class="icon-img"
                src="/image/chart_fill.png"
                alt="chart_fill"
              />
              <div><%= __('iot_Nav_Dashboard')%></div>
            </li>
            <li class="item my-warehouse">
              <img class="icon-img" src="/image/user_box.png" alt="user_box" />
              <div><%= __('iot_Nav_My_WareHouse')%></div>
            </li>
            <li class="item analytics">
              <img
                class="icon-img"
                src="/image/chart_alt.png"
                alt="chart_alt"
              />
              <div><%= __('iot_Nav_Analytics')%></div>
            </li>
          </ul>
        </div>
      </div>
      <div class="bottom">
        <img id="help-img" src="/image/help_logo.png" alt="help" />
        <div class="help"><%= __('iot_Nav_help')%></div>
        <div class="contact-btn"><%= __('iot_Nav_help2')%></div>
      </div>
    </nav>
  </body>
</html>
<script>
  const locale = '<%=locale%>';
  const warehouse_id = location.pathname.split('/')[2];

  $('#logo-img').click(() => {
    location.href = '/';
  });
  $('.dashboard').click(() => {
    location.href = `/warehouse/${warehouse_id}/iot/monitoring`;
  });
  $('.my-warehouse').click(() => {
    location.href = '/warehouse';
  });
  $('.analytics').click(() => {
    location.href = `/warehouse/${warehouse_id}/iot/statistics`;
  });

  $('.contact-btn').click(function () {
    const context =
      locale === 'en'
        ? {
            title: 'Contact Us',
            html:
              `You can <b>Contact to AutoIN Group</b>., ` +
              '<br>Click this <a href="http://autoingroup.com/contact/">Links</a>.',
            icon: 'info',
          }
        : {
            title: '연락하기',
            html:
              '오토인 그룹에 연락하려면 다음 링크를 클릭하세요<br>' +
              '<a href="http://autoingroup.com/contact/">링크</a>',
            icon: 'info',
          };

    Swal.fire(context);
  });
</script>
