<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../head') %>
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="stylesheet" href="/css/weather-icons.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.socket.io/4.3.2/socket.io.js"></script>
    <title><%= __('iot_Monitoring_title') %></title>
  </head>

  <body>
    <div class="dashboard__container">
      <div class="nav-wrapper"><%- include('iot_Nav') %></div>
      <div class="dashboard">
        <div class="dashboard-top"><%- include('iot_Top') %></div>
        <div class="dashboard-main">
          <div class="weather card"></div>
          <div class="realtime card">
            <div class="title">
              <i class="fas fa-chart-line"></i>
              <span>&nbsp;<%= __('iot_Monitoring_Realtime_Temp')%></span>
            </div>
            <div class="realtime-graph">
              <canvas id="chart1" height="120%"></canvas>
            </div>
          </div>
          <div class="sensor card">
            <div class="value-wrapper temperature numerical">
              <i class="fas fa-thermometer-half sensor-icon1"></i>
              <div><%= __('iot_Monitoring_temp')%></div>
              <div class="value">36.5&#8451;</div>
            </div>
            <div class="value-wrapper humidity numerical">
              <i class="fas fa-tint sensor-icon1"></i>
              <div><%= __('iot_Monitoring_humi')%></div>
              <div class="value">58%</div>
            </div>
            <div class="value-wrapper co numerical">
              <i class="fas fa-smog sensor-icon1"></i>
              <div><%= __('iot_Monitoring_co')%></div>
              <div class="value">100ppm</div>
            </div>
            <div class="value-wrapper propane numerical">
              <i class="fas fa-burn sensor-icon1"></i>
              <div><%= __('iot_Monitoring_propane')%></div>
              <div class="value">35ppm</div>
            </div>
            <div class="value-wrapper fine">
              <i class="fas fa-fire-alt sensor-icon2"></i>
              <div><%= __('iot_Monitoring_flame')%></div>
              <div class="value"><%= __('iot_Monitoring_fine') %></div>
            </div>
            <div class="value-wrapper fine">
              <i class="fas fa-water sensor-icon2"></i>
              <div><%= __('iot_Monitoring_vibration')%></div>
              <div class="value"><%= __('iot_Monitoring_fine') %></div>
            </div>
          </div>
          <div class="cctv card">
            <div class="title">
              <div><i class="fas fa-video"></i> CCTV</div>
              <div class="wd-screen">Wide Screen</div>
            </div>
            <div class="content">
              <i class="fas fa-chevron-left left"></i>
              <iframe src="#" frameborder="0" scrolling="no"></iframe>
              <i class="fas fa-chevron-right right"></i>
            </div>
          </div>
          <div class="capability card">
            <div class="title">
              <i class="fas fa-chart-pie"></i> <%=
              __('iot_Monitoring_Warehouse_Capability')%>
            </div>
            <div class="capability-graph">
              <canvas id="chart2" width="400" height="200"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/JS/monitoring.js"></script>
    <script>
      let warehouse_info = '<%=warehouse_info%>';
      warehouse_info = warehouse_info.replaceAll('&#34;', '"');
      const result = JSON.parse(warehouse_info);
      const status_text = {
        fine: "<%= __('iot_Monitoring_fine') %>",
        bad: "<%= __('iot_Monitoring_bad') %>",
      };

      $('iframe').attr('src', result.cctvServer);
      initMonitoringDashboard(
        '<%=process.env.WEATHER_API_KEY%>',
        result,
        status_text
      );
    </script>
  </body>
</html>
