<html lang="<%= __('locale') %>" dir="ltr">
  <body>
    <div>
      <img
        src="https://user-images.githubusercontent.com/75069880/154211409-8ed65d5d-0524-4507-99ea-5980a410dddc.png"
        style="width: 17rem"
      />
      <hr />
      <h2 style="font-weight: bold"><%= __('user_auth') %></h2>
      <h2
        style="
          font-weight: bold;
          color: white;
          background-color: rgb(46, 46, 46);
          width: fit-content;
          padding: 1rem;
        "
      >
        <%= auth_code %>
      </h2>
      <p style="font-size: 1rem; font-weight: bold">
        <%= __('user_auth_ment1') %>
      </p>
      <p style="font-size: 1rem; font-weight: bold">
        <%= __('user_auth_ment2') %>
      </p>
      <p style="font-size: 1rem; font-weight: bold">
        <%= __('user_auth_ment3') %>
      </p>
    </div>
    <br />
    <br />
    Copyright © <span id="year"><%= year %> </span
    ><a href="http://autoinven.com">AUTOINVEN</a>
  </body>
</html>
