<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <%- include('../head') %>
    <link rel="stylesheet" href="/css/signup.css" />
    <title>Document</title>
  </head>

  <body>
    <header><%- include('../partial/navbar') %></header>
    <div class="inner">
      <div class="left">
        <form
          id="signup-form"
          action="/api/auth/signup"
          method="post"
          onsubmit="return false"
        >
          <a class="logo" href="signup"><img src="/image/small_logo.png" /></a>
          <div class="textdiv">
            <h1>
              <p class="main_color"><%= __('signup_sign')%></p>
            </h1>
            <h1>
              <p class="black_color"><%= __('signup_up')%></p>
            </h1>
          </div>
          <ul>
            <li>
              <input
                type="email"
                id="email"
                name="email"
                class="input--text short"
                placeholder="<%=__('signup_email')%>"
              />
              <label class="btn-main small" for="sendAuthCode">
                <%= __('signup_send_authcode')%>
              </label>
              <input
                type="button"
                class="upload-btn-hidden"
                id="sendAuthCode"
                name="sendAuthCode"
                value="Send Auth Code"
              /><br />
            </li>
            <li id="li_auth" name="li_auth">
              <input
                type="text"
                id="authcode"
                name="authcode"
                class="input--text short"
                placeholder="<%=__('signup_authcode')%>"
              />
              <% if(locals.err){ %>
              <span class="invalid-feedback"> <%= locals.err %> </span>
              <% } %>
              <label class="btn-main small" id="codecheck" for="codeCheck">
                <%=__('signup_check')%>
              </label>
              <input
                type="button"
                class="upload-btn-hidden"
                id="codecheck"
                name="codecheck"
                value="check"
              /><br />
            </li>
            <li>
              <input
                type="text"
                id="name"
                class="input--text"
                placeholder="<%=__('signup_name')%>"
              />
            </li>
            <li>
              <input
                type="password"
                id="pw"
                class="input--text"
                placeholder="<%=__('signup_pw')%>"
              />
            </li>
            <li>
              <input
                type="password"
                id="pwcheck"
                class="input--text"
                placeholder="<%=__('signup_pwcheck')%>"
              />
            </li>
            <li>
              <input
                type="tel"
                id="tel"
                class="input--text"
                placeholder="<%=__('signup_tel')%>"
              />
            </li>
          </ul>
          <button
            type="submit"
            id="signup_button"
            name="signup_button"
            class="btn btn-main"
          >
            <%=__('signup_signup')%>
          </button>
        </form>
      </div>
      <div class="right">
        <section class="section section--visual"></section>
      </div>
    </div>
  </body>
  <script>
    $(document).ready(function () {
      var pw_check = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;
      var email_check =
        /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/;
      var name_check = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/;
      var phone_check = /^01([0|1|6|7|8|9])-?([0-9]{3,4})-?([0-9]{4})$/;
      var authedEmails = [''];
      var authCode = null;
      var authFlag = false;

      var swalError = (text, callback) =>
        Swal.fire({
          icon: 'error',
          title: 'Fail',
          text: text,
        }).then(callback);

      $('#email').on('input', () => {
        if (!authedEmails.includes($('#email').val())) {
          authCode = null;
          authFlag = false;
          $('#li_auth').show();
        } else {
          authFlag = true;
          $('#li_auth').hide();
        }
      });

      $('#sendAuthCode').click(function () {
        var email = $('#email').val();
        var data = { email };
        if (email_check.test(email) == false)
          swalError('<%= __("error_email") %>');
        else if (email != '') {
          $.ajax({
            url: '/api/auth/signup/email',
            type: 'POST',
            accepts: 'application/json',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (rcvData) {
              Swal.fire({
                icon: 'success',
                title: '<%= __("success") %>',
                text: '<%= __("success_send_authcode") %>',
              }).then(function () {
                authCode = rcvData.auth_code;
                authedEmails.push($('#email').val());
              });
            },
            error: function (request, status, error) {
              if (status == 409) {
                Swal.fire({
                  title: '409 <%= __("error") %>',
                  html: '<%= __("error") %>',
                  icon: 'error',
                });
              } else {
                Swal.fire({
                  title: "500 <%= __('error') %>",
                  html: "<h3><%= __('error_any_msg') %></h3><br><%= __('error_any_msg2') %><br><%= __('error_any_msg3') %>",
                  icon: 'error',
                });
              }
            },
          });
        } else {
          swalError('<%= __("error_email") %>');
        }
      });
      $('#codecheck').click(function () {
        var vCode = $('#authcode').val();
        if (email != '') {
          if (vCode == authCode) {
            authFlag = true;
            Swal.fire({
              icon: 'success',
              title: '<%= __("success") %>',
              text: '<%= __("success_auth") %>',
            }).then(() => {
              $('#li_auth').hide();
              $('#authCode').val('');
              $('#sendAuthCode').attr('disabled', true);
            });
          } else swalError('<%= __("error_auth_check") %>');
        } else swalError('<%= __("error_auth") %>');
      });
      //send sign up data to server
      $('#signup_button').click(function () {
        var email = $('#email').val();
        var password = $('#pw').val();
        var pwcheck = $('#pwcheck').val();
        var name = $('#name').val();
        var phone = $('#tel').val();
        phone = phone.replace(/^(\d{2,3})(\d{3,4})(\d{4})$/, `$1-$2-$3`);
        console.log(phone);
        var data = {
          email,
          password,
          name,
          phone,
        };
        if (authFlag == false) swalError('<%= __("error_no_auth") %>');
        else if (!email) swalError('<%= __("error_email") %>');
        else if (!name) swalError('<%= __("error_name") %>');
        else if (name_check.test(name) == false)
          swalError('<%= __("error_name_form") %>');
        else if (!password) swalError('<%= __("error_pw") %>');
        else if (pw_check.test(password) == false)
          swalError('<%= __("error_pw_form") %>');
        else if (password != pwcheck) swalError('<%= __("error_pw_check") %>');
        else if (!phone) swalError('<%= __("error_phone) %>');
        else if (phone_check.test(phone) == false)
          swalError('<%= __("error_phone_form") %>');
        else {
          $.ajax({
            url: '/api/auth/signup',
            type: 'POST',
            accepts: 'application/json',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (data) {
              Swal.fire({
                icon: 'success',
                title: "<%= __('success')%>",
                text: "<%= __('success_signup')%>",
              }).then(() => {
                location.href = '/';
              });
            },
            error: function (request, status, error) {
              Swal.fire({
                title: "<%= __('error')%>",
                html: "<h3><%= __('error_any_msg') %></h3><br><%= __('error_any_msg2') %><br><%= __('error_any_msg3') %>",
                icon: 'error',
              });
            },
          });
        }
      });
    });
  </script>
</html>
