<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <%- include('../head') %>
    <link rel="stylesheet" href="/css/signup.css">
    <title>Document</title>
</head>

<body>
  <header>
    <%- include('../partial/navbar') %>
  </header>
  <div class="inner">
    <div class="left">
      <form id="sign-form">
        <a class="logo" href="signup">Autoinven</a>
        <div class="textdiv">
          <h1>
            <p class="main_color">
              <%= __('signup_sign')%>
            </p>
          </h1>
          <h1>
            <p class="black_color">
              <%= __('signup_up')%>
            </p>
          </h1>
        </div>
        <ul>
          <li><input type="email" class="input--text short" placeholder="<%=__('signup_email')%>"> <label
              class="btn-main small" for="sendAuthCode">
              <%= __('signup_send_authcode')%>
            </label>
            <input type="button" class="upload-btn-hidden" id="sendAuthCode" name="sendAuthCode"
              value="Send Auth Code"><br>
          </li>
          <li><input type="text" class="input--text short" placeholder="<%=__('signup_authcode')%>" />
            <% if(locals.err){ %>
              <span class="invalid-feedback">
                <%= locals.err %>
              </span>
              <% } %>
                <label class="btn-main small" for="codeCheck">
                  <%=__('signup_check')%>
                </label>
                <input type="button" class="upload-btn-hidden" id="codeCheck" name="codeCheck" value="check"><br>
          </li>
          <li><input type="text" class="input--text" placeholder="<%=__('signup_name')%>"></li>
          <li><input type="password" class="input--text" placeholder="<%=__('signup_pw')%>"></li>
          <li><input type="password" class="input--text" placeholder="<%=__('signup_pwcheck')%>"></li>
          <li><input type="tel" class="input--text" placeholder="<%=__('signup_tel')%>"></li>
        </ul>
        <button type="submit" class="btn btn-main">
          <%=__('signup_signup')%>
        </button>
      </form>
    </div>
    <div class="right">
      <section class="section section--visual"></section>
    </div>
  </div>
</body>

</html>