<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <%- include('../head') %>

    <link rel="stylesheet" href="/css/signin.css" />
    <title>로그인</title>
  </head>

  <body>
    <header><%- include('../partial/navbar') %></header>
    <div class="inner">
      <div class="left">
        <form
          id="sign-form"
          action="/api/auth/signin"
          method="post"
          onsubmit="return false"
        >
          <a class="logo" href="signin"><img src="/image/small_logo.png" /></a>
          <div class="textdiv">
            <h1>
              <p class="main_color"><%= __('signin_sign')%></p>
            </h1>
            <h1>
              <p class="black_color"><%= __('signin_in')%></p>
            </h1>
          </div>
          <ul>
            <li>
              <input
                type="email"
                name="email"
                id="email"
                class="input--text"
                placeholder="<%= __('signin_email')%>"
              />
            </li>
            <li>
              <input
                type="password"
                name="password"
                id="password"
                class="input--text"
                placeholder="<%= __('signin_pw')%>"
              />
            </li>
          </ul>
          <button
            type="submit"
            id="signin_button"
            name="signin_button"
            class="btn btn-main"
          >
            <%= __('signin_signin')%>
          </button>
          <div class="signin">
            <p style="color: #000; margin-right: 10px">
              <%= __('signin_content1')%>
            </p>
            <a style="color: rgb(124, 19, 154); font-size: 15px" href="signup">
              <%= __('signin_signup')%>
            </a>
          </div>
        </form>
      </div>
      <div class="right">
        <section class="section section--visual"></section>
      </div>
    </div>
  </body>
  <script>
    $(document).ready(function () {
      var email_check =
        /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/;
      //send sign up data to server
      $('#signin_button')
        .off('click')
        .on('click', function () {
          var email = $('#email').val();
          var password = $('#password').val();
          console.log(email, password);

          var swalError = (text) =>
            Swal.fire({
              icon: 'error',
              title: 'Fail',
              text: text,
            });
          if (!email) swalError("<%= __('error_email') %>");
          else if (!password) swalError("<%= __('error_pw') %>");
          else if (email_check.test(email) == false)
            swalError("<%= __('error_info_form') %>");
          else {
            var data = {
              email,
              password,
            };
            $.ajax({
              url: '/api/auth/signin',
              type: 'POST',
              accepts: 'application/json',
              contentType: 'application/json',
              data: JSON.stringify(data),
              success: function (data) {
                console.log(data);
                if (data.message == 'success') window.location.href = '/';
              },
              error: function (request, status, error) {
                if (request.status == 401) {
                  Swal.fire({
                    title: '401 ' + "<%= __('error') %>",
                    html: "<h3><%= __('error_any_msg') %></h3><br><%= __('error_any_msg2') %><br><%= __('error_any_msg3') %>",
                    icon: 'error',
                  });
                } else {
                  Swal.fire({
                    title: "500 <%= __('error') %>",
                    html: "<h3><%= __('error_any_msg') %></h3><br><%= __('error_any_msg2') %><br><%= __('error_any_msg3') %>",
                    icon: 'error',
                  });
                }
              },
            });
          }
        });
    });
  </script>
</html>
