<body>
  <header style="z-index: 1000;">
    <%- include('../partial/navbar') %>
  </header>
  <div class="inner img">
  </div>
  <div class="inner main">
    <ul class="pager" style="list-style: none;">
      <li style="display: flex; align-items: center;">
        <h2 style=" font-family: nanum-eb;">
          <%= __('leaseManagement_title') %>
        </h2>
        <input type="text" id="search" class="input--text search" style="margin-left: auto">
        <button type = "submit" class="class="btn" id="search_button" style="border: none; background: #FFF;"><img src="/image/search.png"></button>
      </li>
      <li>
        <table class="table table-hover">
          <th><%= __('table_num') %></th>
          <th><%= __('table_state') %></th>
          <th><%= __('table_reg_num') %></th>
          <th><%= __('table_wh_name') %></th>
          <th><%= __('table_lease_area') %></th>
          <th><%= __('table_contract_period') %></th>
          <th><%= __('table_price') %></th>
          <th><%= __('table_contractor') %></th>
          <th><%= __('table_created_date') %></th>
          <% for(int i = 0 ; i < contracts.length ; i++ ) { %>
            <tr onclick="location.href='/contract/'+'<%=1%>';">
              <td><%= i+1 %></td>
                <% if(contracts[i].state == 1) {  %>
                  <td><span class="badge" style="background: rgb(196,196,196);"><%= __('badge_approved') %></span></td>
                <% } else if(contracts[i].state == 2) { %>
                  <td><span class="badge" style="background: rgb(143,207,104);"><%= __('badge_pending_payment') %></span></td>
                <% } else if(contracts[i].state == 3) { %>
                  <td><span class="badge" style="background: rgb(89,166,237);"><%= __('badge_pending_approval') %></span></td>
                <% } else if(contracts[i].state == 4) { %>
                  <td><span class="badge bg-danger"><%= __('badge_reject') %></span></td>
                <% } else if(contracts[i].state == 5) { %>
                  <td><span class="badge" style="background: rgb(230, 230, 230);"><%= __('badge_expired') %></span></td>
                <% } %>
              <td><%= contracts[i].id %></td>
              <td><%= contracts[i].name %></td>
              <td><%= contracts[i].area %></td>
              <td><%= >ontracts[i].period %></td>
              <td><%= contracts[i].price %></td>
              <td><%= contracts[i].contractor_name %></td>
              <td><%= contracts[i].created_date %></td>
            </tr>
          <% } %>
        </table>
      </li>
    </ul>
  </div>
  <footer>
    <%- include('../partial/footer') %>
  </footer>
</body>

</html>