<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <%- include('../head') %>
  <link rel="stylesheet" href="/css/estimateDetail.css"/>
</head>

<body>
  <header>
    <%- include('../partial/navbar') %>
  </header>
    <div class="container">
        <h3 class="contract-request-detail-title"><%= __('contractRequestDetail_title')%></h3>
        <div class="row align-items-start">
            <div class="col">
                <h4 class="contract-sub-title"><%= __('contractRequestDetail_wh_info')%></h4>
                <table id="wh-info-table" class="table info-table" style="height: 30rem;">
                    <tr>
                        <td class="info-table-td-head"><%= __('contractRequestDetail_wh_name')%></td>
                        <td class="info-table-td" colspan="3"><%= warehouse.name%></td>
                    </tr>
                    <tr>
                        <td class=info-table-td-head><%= __('contractRequestDetail_wh_type')%></td>
                        <td class="info-table-td" colspan="3"><%= warehouse.category%></td>
                    </tr>
                    <tr>
                        <td class=info-table-td-head><%= __('contractRequestDetail_wh_address')%></td>
                        <td class="info-table-td" colspan="3"><%= warehouse.address1%></td>
                    </tr>
                    <tr>
                        <td class=info-table-td-head><%= __('contractRequestDetail_wh_address_detail')%></td>
                        <td class="info-table-td" colspan="3"><%= warehouse.address2%></td>
                    </tr>
                    <tr>
                        <td class=info-table-td-head><%= __('contractRequestDetail_wh_intro')%></td>
                        <td class="info-table-td" colspan="3"><%= warehouse.description%></td>
                    </tr>
                    <tr>
                        <td class=info-table-td-head><%= __('contractRequestDetail_land_area')%></td>
                        <td class="info-table-td"><%= warehouse.land_area%>㎡</td>
                        <td class=info-table-td-head><%= __('contractRequestDetail_total_ground_area')%></td>
                        <td class="info-table-td"><%= warehouse.total_ground_area%>㎡</td>
                    </tr>
                    <tr>
                        <td class=info-table-td-head><%= __('contractRequestDetail_common_area')%></td>
                        <td class="info-table-td"><%= warehouse.common_area%>㎡</td>
                        <td class=info-table-td-head><%= __('contractRequestDetail_dedicated_area')%></td>
                        <td class="info-table-td"><%= warehouse.dedicated_area%>㎡</td>
                    </tr>
                </table>
            </div>
            <div class="col-5">
                <h4 class="contract-sub-title"><%= __('contractRequestDetail_req_detail')%></h4>
                <table id="contract-info-table" class="table info-table" style="height: 30rem;">
                    <tr>
                      <td class=info-table-td-head><%= __('contractRequestDetail_start_date')%></td>
                      <td class="info-table-td" colspan="3">
                          <input id="start_date"type="date" class="form-control" disabled="true"
                          value="<%= lease_info.start_date%>"></input>
                      </td>
                    </tr>
                    <tr>
                      <td class=info-table-td-head><%= __('contractRequestDetail_end_date')%></td>
                      <td class="info-table-td" colspan="3">
                        <input id="end_date" type="date" class="form-control" disabled="true"
                        value="<%= lease_info.end_date%>"></input>
                      </td>
                    </tr>
                    <tr>
                        <td class=info-table-td-head><%= __('contractRequestDetail_available_area')%></td>
                        <td class="info-table-td" colspan="3"><%= lease_info.available_area %>㎡</td>
                    </tr>
                    <tr>
                        <td class=info-table-td-head><%= __('contractRequestDetail_req_area')%></td>
                        <td id="lease_area" class="info-table-td contract-table-td-red" colspan="3"><%= lease_info.req_area%>㎡</td>
                    </tr>
                    <tr>
                        <td class=info-table-td-head><%= __('contractRequestDetail_cost')%></td>
                        <td class="info-table-td" colspan="3">￦<%= warehouse.rent%> ㎡/일</td>
                    </tr>
                    <tr>
                        <td class=info-table-td-head><%= __('contractRequestDetail_total_cost')%></td>
                        <td id="amount" class="info-table-td contract-table-td-red" colspan="3"><%= lease_info.total_cost%>원</td>
                    </tr>
                    <tr>
                        <td class=info-table-td-head><%= __('contractRequestDetail_purpose')%></td>
                        <td class="info-table-td" colspan="3">
                            <input id="purpose" type="text" class="form-control" maxlength="255"/>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <table class="table info-table">
            <tr>
                <td class=info-table-td-head><%= __('contractRequestDetail_note')%></td>
                <td class="info-table-td">
                    <textarea id="note" class="form-control" cols="40" rows="5"></textarea>
                </td>
            </tr>
        </table>

        <div class="centered-div">
            <button class="btn btn-submit" onclick="clkSubmit()"><%= __('contractRequestDetail_submit')%></button>
            <button class="btn btn-cancel" onclick="history.back()"><%= __('contractRequestDetail_cancel')%></button>
        </div>
    </div>

    <footer style="margin-top: 3rem;">
        <%- include('../partial/footer') %>
    </footer>
</body>
<script>
    $(document).ready(function() {
      const amount = document.getElementById('amount')
      amount.innerText = parseInt('<%= lease_info.total_cost%>').toLocaleString('ko-KR') + '원'
    })

    clkSubmit =() => {
      if('<%= locals.role %>' =='user') {
        let formdata ={
          'warehouse_id':"<%= warehouse.warehouse_id%>",
          'start_date':'<%= lease_info.start_date%>',
          'end_date':'<%= lease_info.end_date%>',
          'lease_area':'<%= lease_info.req_area%>',
          'amount':'<%= lease_info.total_cost%>',
          'purpose':$('#purpose')[0].value,
          'note':$('#note')[0].value,
          'user_email': '<%= user.email %>'
        }

        for (var key in formdata) {
          console.log("key : " + key +", value : " + formdata[key]);
        }

        $.ajax({
            url: '/api/contract',
            type: 'POST',
            accepts: 'application/json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(formdata),
            success: function (data) {
              Swal.fire({
                title: 'SUCCESS',
                html: `계약 요청을 성공적으로 완료하였습니다.`,
                icon: 'success',
              }).then(() => {
                history.back()
              });
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
      }else{
        Swal.fire({
          title: 'WARNING',
          html: `로그인이 필요합니다.`,
          icon: 'warning',
          showCancelButton: true,
        });
      }
    }
</script>

</html>