<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <%- include('../head') %>
    <link rel="stylesheet" href="/css/myInfo.css">
    <title>Document</title>
</head>

<body>
  <header style="z-index: 1000;">
    <%- include('../partial/navbar') %>
  </header>
  <div class="inner img">

  </div>
  <div class="inner main">
    <ul style="list-style: none;">
      <li>
        <h2 style=" font-family: nanum-eb; margin-bottom: 10%;">
          <%= __('myInfo_title')%>
        </h2>
      </li>
      <li>
        <p class="tag">E-mail</p>
        <p class="input--text">nhj2927@naver.com</p>
      </li>
      <li>
        <p class="tag">
          <%= __('myInfo_name')%>
        </p><input type="text" class="input--text" placeholder="나현준">
      </li>
      <li>
        <p class="tag">
          <%= __('myInfo_pw')%>
        </p><button class="btn-main">
          <%= __('myInfo_change_pw')%>
        </button>
      </li>
      <li>
        <p class="tag">
          <%= __('myInfo_phone')%>
        </p><input type="tel" class="input--text" placeholder="01012345678">
      </li>
    </ul>
  </div>
  <footer>
    <%- include('../partial/footer') %>
  </footer>
</body>

</html>