<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <%- include('../head') %>
    <link rel="stylesheet" href="/css/myInfo.css">
    <title>Document</title>
</head>

<body>
  <header style="z-index: 1000;">
    <%- include('../partial/navbar') %>
  </header>
  <div class="inner img">

  </div>
  <div class="inner main">
    <ul style="list-style: none;">
      <li>
        <h2 style=" font-family: nanum-eb; margin-bottom: 10%;">
          <%= __('myInfo_title')%>
        </h2>
      </li>
      <li>
        <p class="tag">E-mail</p>
        <p class="input--text">nhj2927@naver.com</p>
      </li>
      <li>
        <p class="tag">
          <%= __('myInfo_name')%>
        </p><input type="text" class="input--text" placeholder="나현준">
      </li>
      <li>
        <p class="tag">
          <%= __('myInfo_pw')%>
        </p>
        <button class="btn-main" value="open" id="edit_pw_button" data-toggle="modal" data-target="#edit_pw">
          <%= __('myInfo_change_pw')%>
        </button>
      </li>
      <li>
        <p class="tag">
          <%= __('myInfo_phone')%>
        </p><input type="tel" class="input--text" placeholder="01012345678">
      </li>
      <li class="align_center">
        <button class="btn-main small" type="submit" id="change_myinfo">
          <%= __('myInfo_change_myinfo')%>
        </button>
      </li>
    </ul>
  </div>
  <div class="modal fade" id="edit_pw" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <%- include('../partial/footer') %>
  </footer>
</body>

</html>