<head>
  <meta charset="UTF-8" />
  <%- include('../head') %>
  <link href="/dist/output.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/search.css" />
  <script type="text/javascript" src="/js/search.js"></script>
  <title>창고 검색</title>
</head>

<body>
  <header><%- include('../partial/navbar') %></header>
  <div class="searchBox">
    <input
      class="searchInput"
      id="startDate"
      type="date"
      placeholder="시작일"
    />
    <input class="searchInput" id="endDate" type="date" placeholder="종료일" />
    <select class="searchInput" id="whType" name="cars">
      <option selected>창고 종류</option>
      <option value="1">일반</option>
      <option value="2">냉장</option>
      <option value="3">냉동</option>
    </select>
    <input
      class="searchInput"
      id="leaseArea"
      type="number"
      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
      placeholder="계약 면적(평)"
    />
    <div
      class="searchInput search-card"
      id="search-card"
      style="position: relative"
    >
      <input id="pac-input" type="text" placeholder="위치를 검색하세요" />
      <svg
        id="backicon"
        style="
          position: absolute;
          display: none;
          margin-top: 1vh;
          margin-left: 1vh;
        "
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
        id="mdi-arrow-left"
        width="28"
        height="28"
        viewBox="0 0 24 24"
        fill="#cccccc"
      >
        <path
          d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"
        />
      </svg>
      <img
        id="autoinIcon"
        src="/Image/autoin_logo.png"
        width="24"
        height="24"
        style="position: absolute; margin-top: 1.2vh; margin-left: 1vh"
      />
      <!--<img id="searchBtn" src="https://icongr.am/entypo/magnifying-glass.svg?size=28&color=cccccc" style="">-->
      <svg
        id="searchBtn"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 20 20"
        id="entypo-magnifying-glass"
        height="28"
        width="28"
        fill="#cccccc"
      >
        <g>
          <path
            d="M17.545 15.467l-3.779-3.779a6.15 6.15 0 0 0 .898-3.21c0-3.417-2.961-6.377-6.378-6.377A6.185 6.185 0 0 0 2.1 8.287c0 3.416 2.961 6.377 6.377 6.377a6.15 6.15 0 0 0 3.115-.844l3.799 3.801a.953.953 0 0 0 1.346 0l.943-.943c.371-.371.236-.84-.135-1.211zM4.004 8.287a4.282 4.282 0 0 1 4.282-4.283c2.366 0 4.474 2.107 4.474 4.474a4.284 4.284 0 0 1-4.283 4.283c-2.366-.001-4.473-2.109-4.473-4.474z"
          />
        </g>
      </svg>
      <div id="midbar">|</div>
      <svg
        id="clearSearchBox"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
        id="mdi-close"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        fill="#cccccc"
      >
        <path
          d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"
        />
      </svg>
    </div>
    <button
      class="searchInput min-w-min w-16"
      id="initializeLists"
      style="background-color: #7c13a2; color: white"
    >
      초기화
    </button>
  </div>
  <div class="searchContainer flex">
    <!-- 지도 -->
    <div class="hidden md:inline-block md:w-2/3">
      <div id="map" style="width: 100%; height: 100%"></div>
      <div id="infowindow-content" style="display: none">
        <span id="place-name" class="title"></span><br />
        <span id="place-address"></span>
      </div>
    </div>
    <!-- 목록 -->
    <div class="marker_list w-full md:w-1/3"></div>
  </div>
</body>
<script type="text/javascript">
  // 창고 정보 가져오기
  let _warehouses = '<%= JSON.stringify(warehouses) %>';

  _warehouses = _warehouses.replaceAll(`&#34;`, '"');
  _warehouses = _warehouses.replaceAll(/\n/gi, '\\r\\n');

  _warehouses = JSON.parse(_warehouses);
  console.log(_warehouses);
  let _locale = "<%= __('locale') %>";
  setWarehouses(_warehouses, _locale);
  //초기화
  $('#initializeLists').click(() => {
    $('.searchInput').val('');
    $('#pac-input').val('');
    map.setCenter(center);
    map.setZoom(7.5);
    listing(markers);
    infowindow.close();
    infowindowContent.style.display = 'none';
  });
</script>
<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLE_MAP_JAVASCRIPT_KEY %>&callback=initMap&libraries=places,geometry&language=<%= __('locale') %>"
></script>
