<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <%- include('../head') %>
    <link rel="stylesheet" href="/css/warehouse.css">
    <title>Document</title>
</head>

<body>
  <header style="z-index: 1000;">
    <%- include('../partial/navbar') %>
  </header>
  <div class="inner img">
  </div>
  <div class="inner main">
    <ul class="pager" style="list-style: none; width: 90%;">
      <li style="display: flex; align-items: center;">
        <h2 style=" font-family: nanum-eb;">
          <%= __('warehouse_title') %>
        </h2>
        <input type="text" id="search" class="input--text search" style="margin-left: auto">
        <button type = "submit" class="class="btn" id="search_button" style="border: none; background: #FFF;"><img src="/image/search.png"></button>
      </li>
       <!--창고 정보 카드-->
      <li>
        <div class="warehouse_info" onclick="location.href='/warehouse/'+'<%=1%>';">
          <div class="container left">
            <img class="image" src="/image/test_image_1.jpg"/>
          </div>
          <div class="container center">
            <ul>
              <li style="display: flex; align-items: center;"><p class="wh_title">창고창고</p><span class="badge bg-primary"><%= __('warehousedetail_verified') %></span></li>
              <li style="display: flex; margin-top: 1.5rem; align-items: center;"><img class="img" src="/image/icon/map_mark_icon.svg" class="badge-svg" /><p class="wh_address">대구 광역시 북구 산격로 80, 창고창고</p></li>
              <li><p class="wh_space">계약공간: 2000평</p></li>
              <li><p class="wh_term">계약기간: 21.12.22~ 22.02.18</p></li>
            </ul>
          </div>
          <div class="container right">
            <p>대여자: 나현준</p>
          </div>
        </div>
      </li>
      <!--창고 정보 카드-->
      <li>
        <div class="warehouse_info">
          <div class="container left">
            <img class="image" src="/image/test_image_1.jpg"/>
          </div>
          <div class="container center">
            <ul>
              <li style="display: flex; align-items: center;"><p class="wh_title">창고창고</p><span class="badge bg-primary">인증</span></li>
              <li style="display: flex; margin-top: 1.5rem; align-items: center;"><img class="img" src="/image/icon/map_mark_icon.svg" class="badge-svg" /><p class="wh_address">대구 광역시 북구 산격로 80, 창고창고</p></li>
              <li><p class="wh_space">계약공간: 2000평</p></li>
              <li><p class="wh_term">계약기간: 21.12.22~ 22.02.18</p></li>
            </ul>
          </div>
          <div class="container right">
            <p>대여자: 나현준</p>
          </div>
        </div>
      </li>
      
    </ul>
  </div>
  <footer>
    <%- include('../partial/footer') %>
  </footer>
</body>

</html>