<!DOCTYPE html>
<html lang="<%= __('locale') %>">
  <head>
    <meta charset="UTF-8" />
    <%- include('./head') %>
  </head>
  <style>
    .main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: url('image/background.jpg');
      height: 80rem;
      color: #fff;
    }

    .main .title {
      text-align: center;
      margin-bottom: 2rem;
      font-weight: 600;
    }

    .main .slogan {
      font-size: 1.5rem;
      text-align: center;
    }

    .search {
      height: 22rem;
      background: purple;
    }

    .search .title {
      font-size: 3rem;
      color: #fff;
      margin-right: 1rem;
      padding-bottom: 1rem;
      text-decoration: none;
      border-bottom: 5px solid #fff;
    }

    .search .title:hover {
      cursor: pointer;
    }

    .warehouse {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 63rem;
    }

    .warehouse .title {
      font-weight: 600;
      margin: 10rem 0 1rem;
    }

    .warehouse .content {
      text-align: center;
      font-size: 1.4rem;
      margin: 1rem;
    }

    .warehouse .more {
      color: purple;
      text-decoration: none;
      cursor: pointer;
      font-size: 1.2rem;
      margin-bottom: 4rem;
    }

    .warehouse .list {
      display: flex;
    }

    .warehouse .list .card {
      width: 20rem;
      height: 30rem;
      border-radius: 1rem;
      margin: 0 1rem;
    }

    .warehouse .list .card .img {
      width: 100%;
      height: 50%;
    }

    .warehouse .list .card .wh_info {
      padding: 1rem;
      height: 50%;
    }

    .warehouse .list .card .wh_info .detail {
      display: inline-block;
      text-decoration: none;
      margin: 2.5rem 0 0 12rem;
      color: purple;
      cursor: pointer;
    }

    .enroll {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10rem 0 10rem 15rem;
      height: 22rem;
      background: purple;
    }

    .enroll .title {
      color: #fff;
      font-weight: 600;
    }

    .enroll .content {
      color: #fff;
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }

    .enroll .btn {
      background: #fff;
      color: purple;
      border-radius: 1rem;
      font-size: 1.2rem;
      font-weight: 600;
      width: 12rem;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 50rem;
    }

    .info .title {
      font-weight: 600;
      text-align: center;
      margin-bottom: 3rem;
    }

    .info .content {
      display: grid;
      width: 70rem;
      height: 35rem;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      column-gap: 1.3rem;
    }

    .info .content .card {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      box-shadow: 1px 1px 5px 2px #e4e6e9;
      font-size: 1.4rem;
      font-weight: 600;
    }

    .info .content .card .img {
      width: 40%;
      height: 50%;
      margin-bottom: 1rem;
    }

    .signup {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: purple;
      height: 22rem;
    }

    .signup .title {
      font-weight: 600;
      text-align: center;
      color: #fff;
      margin-bottom: 5rem;
    }

    .signup .btn {
      background: #fff;
      color: purple;
      border-radius: 1rem;
      font-size: 1.2rem;
      font-weight: 600;
      width: 14rem;
    }

    .autoinven {
      height: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .autoinven .img {
      width: 20rem;
      height: 5rem;
    }
  </style>
  <body>
    <header><%- include('./partial/navbar') %></header>
    <div class="main">
      <h1 class="title">
        글로벌 창고공유 서비스<br />
        오토인벤
      </h1>
      <p class="slogan">
        오토인벤은 합리적인 가격으로 필요한 만큼 필요한 공간을 사용하고<br />
        보관되어있는 창고 현황을 실시간으로 확인가능한 창고공유 서비스입니다.<br />
        글로벌한 창고공유 서비스 오토인벤과 시작하세요!
      </p>
    </div>
    <div class="search">
      <a class="title" href="search">창고를 대여하고 싶으신가요?</a>
      <img src="image/icon/search_icon.svg" alt="search" />
    </div>
    <div class="warehouse">
      <h2 class="title">창고 한눈에 보기</h2>
      <p class="content">
        대여 가능한 창고를 둘러보고, 창고 정보도 확인해보세요. <br />
        나에게 딱 맞는 창고가 있을거에요!
      </p>
      <a class="more" href="search">대여 가능한 창고 더보기 ></a>
      <div class="list">
        <% for(let i = 0; i < warehouses.length; i++) { %>
        <div class="card">
          <img class="img" src="image/small_logo.png" />
          <div class="wh_info">
            <h4 class="name"><%= warehouses[i].name %></h4>
            <div class="category">종류: <%= warehouses[i].category %></div>
            <div class="address">위치: <%= warehouses[i].address %></div>
            <a class="detail">자세히 보기></a>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <div class="enroll">
      <h2 class="title">창고를 찾습니다</h2>
      <p class="content">
        남는 창고를 활용하여 수익창출 어떻게 할까요?<br />
        국내는 물론 글로벌한 창고 공유 서비스, 오토인벤에서 시작해보세요!
      </p>
      <div class="btn">창고 등록 문의하기</div>
    </div>
    <div class="info">
      <h2 class="title">
        창고의 새로운 기준<br />
        오토인벤
      </h2>
      <div class="content">
        <div class="card">
          <img class="img" src="image/small_logo.png" alt="info" />
          위치기반의<br />
          다양한 창고 검색
        </div>
        <div class="card">
          <img class="img" src="image/small_logo.png" alt="info" />
          한눈에 보는<br />
          창고 구비시설
        </div>
        <div class="card">
          <img class="img" src="image/small_logo.png" alt="info" />
          임대기간으로<br />
          빠른 예상 견적
        </div>
        <div class="card">
          <img class="img" src="image/small_logo.png" alt="info" />
          창고주가 꼼꼼히<br />
          작성한 인증된 창고
        </div>
        <div class="card">
          <img class="img" src="image/small_logo.png" alt="info" />
          인증된 창고는<br />
          실시간 모니터링까지
        </div>
        <div class="card">
          <img class="img" src="image/small_logo.png" alt="info" />
          안전 계약하고<br />
          간편한 관리까지
        </div>
      </div>
    </div>
    <div class="signup">
      <h2 class="title">
        국내는 물론 해외창고까지<br />
        글로벌한 창고를 경험해보세요!
      </h2>
      <a class="btn" href="signup">무료로 회원 가입하기</a>
    </div>
    <div class="autoinven">
      <img class="img" src="image/inven_logo.png" alt="logo" />
    </div>
    <footer><%- include('./partial/footer') %></footer>
  </body>
</html>
