<!DOCTYPE html>
<html lang="<%= __('locale') %>">
  <head>
    <meta charset="UTF-8" />
    <%- include('head') %>

    <link rel="stylesheet" href="/css/myInfo.css" />
    <title>Document</title>
  </head>

  <body>
    <header style="z-index: 1000"><%- include('partial/navbar') %></header>
    <div class="inner img"></div>
    <div class="inner main">
      <ul style="list-style: none">
        <li>
          <h2 style="font-family: nanum-eb; margin-bottom: 10%">
            <%= __('myInfo_title')%>
          </h2>
        </li>
        <li>
          <p class="tag">E-mail</p>
          <p class="input--text"><%= user.email %></p>
        </li>
        <li>
          <p class="tag"><%= __('myInfo_name')%></p>
          <input
            type="text"
            id="name"
            class="input--text"
            value="<%= user.name %>"
          />
        </li>
        <li>
          <p class="tag"><%= __('myInfo_pw')%></p>
          <button
            type="button"
            class="btn btn-main"
            id="edit_pw_button"
            data-bs-toggle="modal"
            data-bs-target="#edit_pw"
          >
            <%= __('myInfo_change_pw')%>
          </button>
          <div
            class="modal fade"
            id="edit_pw"
            tabindex="-1"
            role="dialog"
            aria-labelledby="eith_pwTitle"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title"><%= __('myInfo_change_pw')%></h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    style="background: white; border: none"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <input
                    type="password"
                    id="current_pw"
                    class="input--text short"
                    placeholder="<%= __('myInfo_text1')%>"
                  />
                  <input
                    type="password"
                    id="new_pw"
                    class="input--text short"
                    placeholder="<%= __('myInfo_text2')%>"
                  />
                  <input
                    type="password"
                    id="new_pw_check"
                    class="input--text short"
                    placeholder="<%= __('myInfo_text3')%>"
                  />
                </div>
                <div class="modal-footer">
                  <button
                    type="submit"
                    id="edit_pw_btn"
                    name="edit_pw_btn"
                    class="btn-main small"
                  >
                    <%= __('myInfo_change_myinfo')%>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <p class="tag"><%= __('myInfo_phone')%></p>
          <input
            type="tel"
            id="phone"
            class="input--text"
            value="<%= user.phone %>"
          />
        </li>
        <li class="align_center">
          <button class="btn-main small" type="submit" id="change_myinfo">
            <%= __('myInfo_change_myinfo')%>
          </button>
        </li>
      </ul>
    </div>
    <footer><%- include('partial/footer') %></footer>
  </body>
  <script>
    $(document).ready(function () {
      var name_check = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/;
      var pw_check = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;
      var phone_check = /^01([0|1|6|7|8|9])-?([0-9]{3,4})-?([0-9]{4})$/;
      var swalError = (text, callback) =>
        Swal.fire({
          icon: 'error',
          title: 'Fail',
          text: text,
        }).then(callback);
      $('#edit_pw_btn').click(function () {
        var current_password = $('#current_pw').val();
        var new_password = $('#new_pw').val();
        var new_password_check = $('#new_pw_check').val();
        var data = {
          current_password,
          new_password,
        };
        if (!current_password) swalError("<%= __('error_current_pw') %>");
        else if (!new_password) swalError("<%= __('error_new_pw') %>");
        else if (!new_password_check)
          swalError("<%= __('error_new_pw_check') %>");
        else if (new_password != new_password_check) {
          swalError("<%= __('error_new_pw_check') %>");
        } else if (
          new_password == new_password_check &&
          pw_check.test(new_password) == true
        ) {
          $.ajax({
            url: '/api/myinfo/password',
            type: 'put',
            accepts: 'application/json',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (data) {
              Swal.fire({
                icon: 'success',
                title: "<%= __('success') %>",
                text: "<%= __('success_pw') %>",
              }).then(() => {
                location.href = '/myinfo';
              });
            },
            error: function (request, status, error) {
              if (request.status == 401) {
                Swal.fire({
                  title: '401 <%= __("error") %>',
                  html: "<%= __('error_pw_check') %>",
                  icon: 'error',
                });
              } else {
                swalError("<%= __('error_any_msg') %>");
              }
            },
          });
        } else {
          swalError("<%= __('error_pw_form') %>");
        }
      });
      $('#change_myinfo').click(function () {
        var name = $('#name').val();
        var phone = $('#phone').val();
        phone = phone.replace(/^(\d{2,3})(\d{3,4})(\d{4})$/, `$1-$2-$3`);
        var data = {
          name,
          phone,
        };
        if (name_check.test(name) == false)
          swalError("<%= __('error_name_form') %>");
        else if (phone_check.test(phone) == false)
          swalError("<%= __('error_phone_form') %>");
        else {
          $.ajax({
            url: '/api/myinfo',
            type: 'PUT',
            accepts: 'application/json',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (data) {
              Swal.fire({
                icon: 'success',
                title: '<%= __("success") %>',
                text: "<%= __('success_myinfo') %>",
              });
            },
            error: function (request, status, error) {
              swalError("<%= __('error_any_msg') %>");
            },
          });
        }
      });
    });
  </script>
</html>
