<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <%- include('../head') %>
    <link rel="stylesheet" href="/css/qrPopup.css" />
    <link href="/dist/output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div id="title_div">
        <span class="qr_title"
          ><img src="/image/icon/qrcode.svg" class="qr_icon" />QR CODE</span
        >
      </div>

      <div class="flex justify-center" id="qr_div">
        <img class="w-80 lg:w-60" id="qr_code" src="<%= qr_code%>" />
      </div>
    </div>

    <div class="row align-items-start print_footer">
      <div class="col" style="text-align: start;">
        <span>
          <%= __('qrPopup_text1') %>
        </br>
          <%= __('qrPopup_text2') %>
        </br>
          <%= __('qrPopup_text3') %> 
        </br>
          <%= __('qrPopup_text4') %>
        </span>
      </div>

      <div class="col-5">
        <button type="button" class="btn btn-print" onclick="printPage()">
          <img src="/image/icon/print_white.svg" class='print_icon'/>
          </br>
          <%= __('qrPopup_text5') %>
        </button>
      </div>
    </div>
  </body>
  <script>
    let initBodyHtml;

    function printPage() {
      window.print();
    }

    function beforePrint() {
      initBodyHtml = document.body.innerHTML;
      document.body.innerHTML = document.getElementById('qr_div').innerHTML;
    }
    function afterPrint() {
      document.body.innerHTML = initBodyHtml;
    }

    window.onbeforeprint = beforePrint;
    window.onafterprint = afterPrint;
  </script>
</html>
