<!--아이템 등록 모달 & 상세 정보 모달-->
<%- include('./modal_itemDetail') %> <%- include('./modal_itemRegister') %>
<!--아이템 등록 모달 & 상세 정보 모달--->

<link rel="stylesheet" href="/css/warehouseDetail_ItemList.css" />

<!--창고 상세 페이지의 물품목록-->
<h3 class="wh-detail-title"><%= __('warehousedetailwithitem_itemlist')%></h3>
<% if( locals.role == 'user' ) { %>
<div style="text-align: right">
  <button
    class="add_item"
    data-bs-toggle="modal"
    data-bs-target="#ItemRegisterModal"
  >
    <img src="/image/icon/plus-solid.svg" class="badge-svg" />
    <%=__('warehousedetailwithitem_add_item')%>
  </button>
</div>
<% } %>
<div id="item-list-card" class="info-card" style="overflow-y: auto">
  <ul class="list-group list-group-flush">
    <% for(let i in warehouse.items) { %>
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
      data-bs-toggle="modal"
      data-bs-target="#ItemDetailModal"
      style="cursor: pointer; border-bottom: 1px solid rgba(0, 0, 0, 0.125)"
      onclick="openItemDetailModal('<%= warehouse.items[i].item_id%>')"
    >
      <img id="item_image_'<%=i%>" class="item-list-image" />
      <script>
        document
          .getElementById("item_image_'<%=i%>")
          .setAttribute('src', '<%= warehouse.items[i].image%>');
      </script>
      <div class="item-list-text-div">
        <div class="item-list-title"><%= warehouse.items[i].name%></div>

        <div class="item-list-body">
          <span><%= __('warehousedetailwithitem_owner')%> : </span>
          <span><%= warehouse.items[i].owner_name%></span>
          <br />
          <span><%= __('warehousedetailwithitem_date_in')%> : </span>
          <span><%= warehouse.items[i].date %></span>
        </div>
      </div>
      <% if(warehouse.items[i].status == 1) { %>
      <div class="badge-div">
        <span class="badge bg-secondary"
          ><%= __('warehousedetailwithitem_badge_before_in')%></span
        >
      </div>
      <% } else if(warehouse.items[i].status == 2) { %>
      <span class="badge bg-success"
        ><%= __('warehousedetailwithitem_badge_in')%></span
      >
      <% } else { %>
      <span class="badge bg-danger"
        ><%= __('warehousedetailwithitem_badge_out')%></span
      >
      <% } %>
    </li>
    <% } %>
  </ul>
</div>
<!--창고 상세 페이지의 물품목록-->
