<form>
  <div class="info-card" id="contract-card">
    <div class="card-body">
      <div>
        <span id="wh-detail-contract-card-title"
          ><%= __('warehousedetail_contract_total')%></span
        >
        <span id="wh-detail-contract-card-price">0</span>
      </div>

      <div class="contract-card-element">
        <p><%= __('warehousedetail_contract_pick_date')%></p>
        <input
          id="info-card-start-date"
          type="date"
          class="input-contract-info"
          value="<%= lease_info.selected_start_date%>"
        />
        <img id="info-card-arrow" src="/image/icon/arrow-right-solid.svg" />
        <input
          id="info-card-end-date"
          type="date"
          class="input-contract-info"
          value="<%= lease_info.selected_end_date%>"
        />
      </div>

      <div class="contract-card-element">
        <div style="margin-left: 9%">
          <p id="available_area">
            <%= __('warehousedetail_contract_max')%> <%=
            lease_info.available_area%>
            <%=__('warehousedetail_contract_area_unit')%>
          </p>
          <span style="text-align: center">
            <input
              id="info-card-area-for-contract"
              type="number"
              placeholder="<%= __('warehousedetail_contract_pick_area')%>"
              class="input-contract-info"
              min="0"
              value="<%= lease_info.selected_area%>"
            />
            <span
              style="
                font-size: 1.5rem;
                font-family: 'nanum-b';
                color: gray;
                float: inline-end;
              "
              ><%= __('warehousedetail_contract_area_unit')%></span
            >
          </span>
        </div>
      </div>

      <div class="contract-card-element" style="text-align: center">
        <button id="contract-submit" class="btn btn-main">
          <%= __('warehousedetail_check_contract')%>
        </button>
        <p class="submit-footer"><%= __('warehousedetail_contract_note')%></p>
      </div>
    </div>
  </div>
</form>
<script>
  $(document).ready(check_and_calc_total_cost);

  const input_start = document.getElementById('info-card-start-date');
  const input_end = document.getElementById('info-card-end-date');
  const input_area = document.getElementById('info-card-area-for-contract');
  const total_cost = document.getElementById('wh-detail-contract-card-price');
  const available_area = document.getElementById('available_area');

  input_start.addEventListener('change', check_and_calc_total_cost);
  input_end.addEventListener('change', check_and_calc_total_cost);
  input_area.addEventListener('change', check_and_calc_total_cost);
  function check_and_calc_total_cost() {
    // 기간 + 임대 공간에 따른 비용 계산
    if (input_start.value != '' && input_end.value != '') {
      if (input_start.value > input_end.value) {
        input_end.value = input_start.value;
      }
      //선택된 날짜에 사용가능한 공간 구하기
      $.ajax({
        url:
          server_url +
          'api/warehouse/<%= warehouse.warehouse_id%>/available?startDate=' +
          input_start.value +
          '&endDate=' +
          input_end.value,
        type: 'GET',
        datatype: 'application/json',
        success: (data) => {
          if (data.available_area > 0) {
            available_area.innerText =
              "<%= __('warehousedetail_contract_max')%>" +
              data.available_area +
              "<%=__('warehousedetail_contract_area_unit')%>";
          } else {
            available_area.innerText =
              '선택된 기간에 사용 가능한 공간이 없습니다.';
          }

          //희망하는 사용공간이 입력된 상태인 경우
          if (input_area.value != '') {
            //희망하는 사용공간이 사용가능한 공간보다 클경우 자동으로 조정해주기
            if (input_area.value > data.available_area) {
              input_area.value = data.available_area;
            }
            //예상금액 계산
            let total =
              toElapsedDay(
                new Date(input_end.value) - new Date(input_start.value)
              ) *
              input_area.value *
              parseInt('<%= warehouse.rent%>');
            total_cost.innerText =
              total.toLocaleString(total) +
              "<%= __('warehousedetail_contract_monetary_unit')%>";
          } else {
            //희망 사용공간이 입력되지 않은 경우
            total_cost.innerText = '-';
          }
        },
        error: (e) => {
          console.log(e);
        },
      });
    } else {
      //기간이 선택되지 않은 경우
      total_cost.innerText = '-';
    }
  }
  const toElapsedDay = (elapsed_time) => {
    return elapsed_time / 1000 / 60 / 60 / 24 + 1;
  };
</script>
