<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <%- include('../head') %>
    <link rel="stylesheet" href="/css/iot/nav.css" />
    <link rel="stylesheet" href="/css/iot/dashboard.css" />
    <link rel="stylesheet" href="/css/iot/iot_statistic.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/iot_statistic.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="/css/warehouseDetail.css" />
  </head>

  <body>
    <header><%- include('../partial/navbar') %></header>
    <!-- Slider main container -->
    <div class="swiper" style="margin-top: 1rem">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <% for(let i in warehouse.images){ %>
        <div class="swiper-slide">
          <img id="warehouse_image_<%= i%>" class="slider-image" />
          <script>
            document
              .getElementById('warehouse_image_<%= i%>')
              .setAttribute('src', '<%=warehouse.images[i]%>');
          </script>
        </div>
        <% } %>
      </div>
      <!-- Slides -->
      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

    <!--창고 상세정보 타이틀-->
    <div id="title-container" class="container">
      <p>
        <span class="badge-text-purple">
          <img src="/image/icon/map_mark_icon.svg" class="badge-svg" />
          <%= warehouse.address1%>
        </span>

        <% if(warehouse.is_verified) { %>
        <span class="badge-text">
          <img
            src="/image/icon/verified_icon.svg"
            style="width: 30px; height: 30px; background: no-repeat"
          />
          <%= __('warehousedetail_verified') %>
        </span>
        <% } %>
      </p>
      <h3 class="wh-detail-title"><%= warehouse.name%></h3>
      <p class="badge-text">
        <img src="/image/icon/phone-alt-solid.svg" class="badge-svg" />
        1644-1393
        <img src="/image/icon/envelope-solid.svg" class="badge-svg" />
        info@autoingroup.com
      </p>
    </div>
    <!--창고 상세정보 타이틀-->

    <div class="container">
      <div class="row align-items-start">
        <!--창고 정보 테이블-->
        <div id="wh-info-table-div" class="col">
          <h3 class="wh-detail-title"><%= __('warehousedetail_info')%></h3>
          <p class="badge-text">
            <% if(warehouse.docking_station){ %>
            <img src="/image/icon/truck-solid.svg" class="badge-svg" /> <%=
            __('warehousedetail_is_docked')%> <% }%> <% if(warehouse.rack){ %>
            <img src="/image/icon/is_racked_icon.svg" class="badge-svg" /> <%=
            __('warehousedetail_is_recked')%> <% }%> <%
            if(warehouse.commercial_lift){ %>
            <img src="/image/icon/elevator_icon.svg" class="badge-svg" /> <%=
            __('warehousedetail_elevator')%> <% }%> <% if(warehouse.is_bonded){
            %>
            <img src="/image/icon/is_bonded_icon.svg" class="badge-svg" /> <%=
            __('warehousedetail_is_bonded')%> <% }%>
          </p>
          <table id="wh-info-table" class="table info-table">
            <tr>
              <td class="info-table-td-head">
                <%= __('warehousedetail_warehouse_name')%>
              </td>
              <td class="info-table-td" colspan="3"><%= warehouse.name%></td>
            </tr>
            <tr>
              <td class="info-table-td-head">
                <%= __('warehousedetail_warehouse_type')%>
              </td>
              <td class="info-table-td" colspan="3">
                <%= warehouse.category%>
              </td>
            </tr>
            <tr>
              <td class="info-table-td-head">
                <%= __('warehousedetail_lease_cost')%>
              </td>
              <td
                class="info-table-td"
                colspan="3"
                style="color: #d00101; font-family: 'nanum-b'"
              >
                ￦<%= warehouse.rent%> ㎡/일
              </td>
            </tr>
            <tr>
              <td class="info-table-td-head">
                <%= __('warehousedetail_address')%>
              </td>
              <td class="info-table-td" colspan="3">
                <%= warehouse.address1%>
              </td>
            </tr>
            <tr>
              <td class="info-table-td-head">
                <%= __('warehousedetail_detail_address')%>
              </td>
              <td class="info-table-td" colspan="3">
                <%= warehouse.address2%>
              </td>
            </tr>
            <tr>
              <td class="info-table-td-head">
                <%= __('warehousedetail_land_area')%>
              </td>
              <td class="info-table-td"><%= warehouse.land_area%>㎡</td>
              <td class="info-table-td-head">
                <%= __('warehousedetail_total_ground_area')%>
              </td>
              <td class="info-table-td"><%= warehouse.total_ground_area%>㎡</td>
            </tr>
            <tr>
              <td class="info-table-td-head">
                <%= __('warehousedetail_common_area')%>
              </td>
              <td class="info-table-td"><%= warehouse.common_area%>㎡</td>
              <td class="info-table-td-head">
                <%= __('warehousedetail_dedicated_area')%>
              </td>
              <td class="info-table-td"><%= warehouse.dedicated_area%>㎡</td>
            </tr>
          </table>
        </div>
        <!--창고 정보 테이블-->

        <!--창고과 유저가 계약된 상태이거나 관리자일 경우 등록된 물품 목록이 노출됨-->
        <% if(user.is_contracted) { %>
        <div id="wh-info-table-div" class="col">
          <%- include('./warehouseDetail_ItemList')%>
        </div>
        <!--창고과 유저가 계약된 상태이거나 관리자일 경우 등록된 물품 목록이 노출됨-->

        <!--창고와 계약되지 않은 유저일 경우 견적확인 할 수 있는 카드뷰가 노출됨-->
        <% }else { %>
        <div class="col-5"><%- include('./warehouseDetail_Estimate')%></div>
        <% } %>
        <!--창고와 계약되지 않은 유저일 경우 견적확인 할 수 있는 카드뷰가 노출됨-->
      </div>

      <!--창고 상세정보-->
      <div style="margin-top: 2rem">
        <h3 class="wh-detail-title"><%= __('warehousedetail_detail_info')%></h3>
        <table class="table info-table">
          <tr>
            <td class="info-table-td-head">
              <%= __('warehousedetail_floor_num')%>
            </td>
            <td class="info-table-td"><%= warehouse.story%>층</td>
            <td class="info-table-td-head">
              <%= __('warehousedetail_valid_floor_height')%>
            </td>
            <td class="info-table-td"><%= warehouse.height%>m</td>
            <td class="info-table-td-head">
              <%= __('warehousedetail_accessable_vehicle')%>
            </td>
            <td class="info-table-td"><%= warehouse.restriction%></td>
          </tr>
          <tr>
            <td class="info-table-td-head">
              <%= __('warehousedetail_completion_date')%>
            </td>
            <td class="info-table-td"><%= warehouse.completion_date%></td>
            <td class="info-table-td-head">
              <%= __('warehousedetail_accessability')%>
            </td>
            <td class="info-table-td" colspan="3"><%= warehouse.access%></td>
          </tr>
          <tr>
            <td class="info-table-td-head">
              <%= __('warehousedetail_introduce')%>
            </td>
            <td class="info-table-td" colspan="6">
              <%= warehouse.description%>
            </td>
          </tr>
          <tr>
            <td class="info-table-td-head"><%= __('warehousedetail_note')%></td>
            <td class="info-table-td" colspan="6"><%= warehouse.note%></td>
          </tr>
        </table>
      </div>
      <!--창고 상세정보-->

      <!--인증된 창고일 경우 창고 환경 정보 제공-->
      <% if(warehouse.is_verified) { %>
      <div style="margin-top: 3rem; margin-bottom: 3rem">
        <div id="environ-title">
          <h3 class="wh-detail-title" style="display: inline">
            <%= __('warehousedetail_environ')%>
          </h3>

          <div style="display: inline; float: right">
            <div style="display: inline">
              <input type="date" id="currentDate" style="width: 10rem" />
              <input
                type="text"
                class="datepicker"
                id="currentYear"
                style="display: none; width: 10rem"
              />
            </div>
            <div style="display: inline">
              <div id="dayButton" style="display: inline-block">
                <%= __('iot_Statistic_DAILY') %>
              </div>
              <div id="monthButton" style="display: inline-block">
                <%= __('iot_Statistic_MONTHLY') %>
              </div>
              <div id="yearButton" style="display: inline-block">
                <%= __('iot_Statistic_YEARLY') %>
              </div>
            </div>
          </div>
        </div>

        <div><%- include('./warehouseDetail_Environment') %></div>
      </div>
      <% } %>
      <!--인증된 창고일 경우 창고 환경 정보 제공-->
    </div>
    <footer><%- include('../partial/footer') %></footer>
  </body>

  <script>
    const swiper = new Swiper('.swiper', {
      // Optional parameters
      direction: 'horizontal',
      loop: true,

      //for centered slide
      slidesPerView: 3,
      centeredSlides: true,

      //pagination
      pagination: {
        el: '.swiper-pagination',
      },
      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>
</html>
